* {margin: 0;padding: 0;box-sizing: border-box;}

body {
  background-color: rgb(5, 1, 32);
  overflow: hidden;
}

.fab {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: -20px;
  animation: anim  linear forwards;
}

@keyframes anim {
  to {
    transform: translateY(105vh);
  }
}